extends base

block sideBar
    aside(class='sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark' id='sidenav-main')
        div(class='sidenav-header')
            i(class='fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none' aria-hidden='true' id='iconSidenav')
            a(class='navbar-brand m-0' href='#' target='_blank')
                span(class='ms-1 font-weight-bold text-white') District Panchayat-Patan
        hr(class='horizontal light mt-0 mb-2')
        div(class='collapse navbar-collapse  w-auto' id='sidenav-collapse-main')
            ul(class='navbar-nav')
                li(class='nav-item')
                    a(class='nav-link text-white active bg-gradient-dark' href='/adminDashboard/digitalDesk')
                        div(class='text-white text-center me-2 d-flex align-items-center justify-content-center')
                            i(class='material-icons opacity-10') dashboard 
                        span(class='nav-link-text ms-1') Digital Desk
                li(class='nav-item')
                    a(class='nav-link text-white active bg-gradient-dark' href='/adminDashboard/physicalDesk')
                        div(class='text-white text-center me-2 d-flex align-items-center justify-content-center')
                            i(class='material-icons opacity-10') table_view 
                        span(class='nav-link-text ms-1') Physical Desk
                li(class='nav-item')
                    a(class='nav-link text-white active bg-gradient-dark' href='/adminDashboard/trackFiles')
                        div(class='text-white text-center me-2 d-flex align-items-center justify-content-center')
                            i(class='material-icons opacity-10') receipt_long
                        span(class='nav-link-text ms-1') Track a file
                li(class='nav-item')
                    a(class='nav-link text-white active bg-gradient-dark' href='/adminDashboard/createUser')
                        div(class='text-white text-center me-2 d-flex align-items-center justify-content-center')
                            i(class='material-icons opacity-10') person_add 
                        span(class='nav-link-text ms-1') Create a User
                li(class='nav-item')
                    a(class='nav-link text-white active bg-gradient-primary' href='/adminDashboard/handleTransfer')
                        div(class='text-white text-center me-2 d-flex align-items-center justify-content-center')
                            i(class='material-icons opacity-10') swap_horiz
                        span(class='nav-link-text ms-1') Handle Transfer
block heading 
    include _header
block content
    .main-block.card
        .left-part
        form
          h1 Handle Transfer
          .info
            input.inputtogive(type='text' name='name' placeholder='Desk ID')
            input.inputtogive(type='text' name='name' placeholder='Current User ID')
            input.inputtogive(type='text' name='name' placeholder='New User ID')
            h6(style='margin-left: 20px;font') Reason For Transfering Desk:
            select.form-select.form-select-lg.mx-3.my-3.w-40(aria-label='.form-select-lg example')
              option(selected='') Transfer
              option(value='1') Maternity Leave
              option(value='2') Paternity Leave
              option(value='3') Sick Leave
              option(value='4') Study Leave
              option(value='5') Hospital Leave
          button.active.bg-gradient-primary.btn.mx-3(type='submit' href='/') Transfer